### https://raw.github.com/github/gitignore/9d51cf8de74307a34dee14d3bb9fc932e3160457/Go.gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


